<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>チャット</title>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>
<body>
<a href="/new" class=""></a>
  <% if !current_user.nil? %>
  <div class="header">
		<h2><%= current_user.name %>さん、ようこそ！</h2>
		<a href="/sign_out">logout</a>
  </div>
	<% else %>
		<a href="/sign_up">新規登録</a>
	<% end %>
  <%if @rooms.count == 0%>
    現在チャットルームがありません
  <%end%>
  <%@rooms.each do |room|%>
  <a href="/room/<%= room.id %>" class=""><%=room.users.select {|user| user.id != current_user.id}[0].name%></a>

  <%end%>
</body>

<script>
let socket
window.addEventListener('load', () => {
  socketCloseListener()
});

const socketMessageListener = (event) => {
  console.log(event);
};

const socketOpenListener = (event) => {
   console.log('Connected');
};

const socketCloseListener = (event) => {
   if (socket) {
      console.log('Disconnected.');
   }
   socket = new WebSocket("<%=@scheme%>" + window.location.host + '/websocket');
   socket.addEventListener('open', socketOpenListener);
   socket.addEventListener('message', socketMessageListener);
   socket.addEventListener('close', socketCloseListener);
};
</script>
</html>
