<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% @users.each do |user| %>
    <%= user.name %>
    <form action="/room/<%=user.id%>" method="POST">
    <input type="submit" value="hoge">
    </form>
  <% end %>

</body>
</html>